pandas
numpy
scipy
matplotlib
seaborn
lightgbm
xgboost
scikit-learn
mecab-python3
jupyterlab
spacy
torch
torchvision
timm
transformers
requests
beautifulsoup4
albumentations
gensim
joblib
pillow
librosa
kaggle
pandas_profiling